<h1>Editing site_var</h1>

<% form_for(@site_var) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @site_var %> |
<%= link_to 'Back', site_vars_path %>