<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<% unless @content_for_title %>
<title>Digital University</title>
<% else %>
<title><%= yield :title -%></title>
<% end %>
<link rel="shortcut icon" href= "<%= @site.get_favicon("favicon.ico") -%>" type = "image/x-icon"/>
<%= stylesheet_link_tag 'digitu-main' %>
<%= stylesheet_link_tag 'all_sites' %>
<%= javascript_include_tag 'sfhover' %>
<%= javascript_include_tag 'jquery132' %>
<%= yield :content_for_head %>
<%= render :partial => @site.get_view("_js_for_user_control") if @du_user %>
<%= render :partial => @site.get_view("_js_for_login_button") unless params[:action] == "login" %>
<%= render :partial => @site.get_view("_google_analytics") %>
</head>
<body>
<a name="top"></a>
<div id="wrapper">
  <div id="main-wrapper">
	<% unless params[:action] == "help_admin" or params[:action] == "help_basic" %>
	  <%= render :partial => @site.get_view('_head') %>
	<% end %>
		<div id="content">
		<%= yield %>
		</div><!-- end content -->
		<div id="content-btm"></div><!-- end content-btm -->
	</div><!-- end main-wrapper -->
	<%= render :partial => @site.get_view('_footer') %>
</div><!-- end wrapper -->
</body>
</html>